@charset "utf-8";
*{
	margin:0;
	padding:0;
}
img{
	border:0;
}
.wrapper{
	width:1000px;
	height:280px;
	margin:0 auto;
	position:relative;
}
.preBtn{
	position:absolute;
	width:45px;
	height:100px;
	top:480px;
	left:0px;
	background:url("../image/spirte.png") no-repeat left top;
	background-color:black;
	opacity:0.4;
	filter:alpha(opacity=40);
	cursor:pointer;
}
.nextBtn{
	position:absolute;
	width:45px;
	height:100px;
	top:480px;
	right:0px;
	background:url("../image/spirte.png") no-repeat right top;
	background-color:black;
	opacity:0.4;
	filter:alpha(opacity=40);
	cursor:pointer;
}
#from1{
	margin-left:900px;
	position:absolute;
	top:15px;
	color:#FFF;
}
#a1{
	text-decoration:none;
	color:#00F;
}
#footer{
	font-size:12px;
	width:100%;
	height:60px;
	margin:0px;
	padding:20px 0px 3px 0px;
	clear:both;
	background-color:#666;
	text-align:center;
}
.GPS{ 
     width:1000px;
	 height:26px;
     margin:-33px 0px 10px 0px;
     border-top:1px solid black;
	 position:relative;
	  z-index:1;
	 }
ul{
    margin-top:0px;
   list-style-type:none;  
   
}
.li1{
margin-bottom:-10px;
   text-align:center;
   font-size:24px;
   border-right:2px solid black; 
   background-color:#09F;
   float:left;
   width:100px;
}
.li1 a{
	text-decoration:none;
	color:#000;
}
#li1{
	width:338px;
	font-size:18px;
	padding-top:8px;
}
.li2{
	width:252px;
	height:25px;
	
	float:right;
}
#te1{
	width:200px;
	height:22px;
}
#te2{
	width:44px;
	height:22px;
}
#num{
    margin-top:380px;
    position:absolute;
    /*border:2px solid blue;*/
	width:60px;
	height:20px;
	top:256px;
	right:0px;
	color:red;
	text-align:center;
	}
#content{
	font-size:18px;
	float:left;
	background-color:#CCC;
	width:1000px;
	padding:5px 0px 0px 0px;
	margin:0px;
}	
#content p {
	padding-top:10px;
	padding-left:20px;
	padding-right:5px;
}
#content h2{
	color:#000;
	padding-top:10px;
	padding-left:10px;
	font-size:24px;
	
}